{% extends 'base.html' %}

{% block title %}Session{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 order-2">
            <div class="card">
                <div class="card-header">
                    <h3>Add service credentials</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="master_key" id="master_key" value="{{master_key}}" required/>

                        <div class="form-group">
                            <label for="service_name">Service name</label>
                            <input name="service_name" class="form-control" id="service_name" required/>
                        </div>

                        <div class="form-group">
                            <label for="node_name">Credentials name</label>
                            <input name="node_name" class="form-control" id="node_name" required/>
                        </div>

                        <div class="form-group">
                            <label for="node_value">Credentials value</label>
                            <input type="password" class="form-control" name="node_value" id="node_value"/>
                        </div>

                        <button type="submit" class="btn btn-primary">Add service credentials</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h4>Change Master Key</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" name="master_key" id="master_key" value="{{master_key}}" required/>

                        <div class="form-group">
                            <label for="new_master_key">New Master Key</label>
                            <input type="password" name="new_master_key" class="form-control" id="new_master_key" required/>
                        </div>

                        <div class="form-group"
                            <label for="new_master_key_repeat">Repeat New Master Key</label>
                            <input type="password" name="new_master_key_repeat" class="form-control" id="new_master_key_repeat" required/>
                        </div>

                        <button type="submit" class="btn btn-primary">Change Master Key</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9 order-1">
            <div class="card">
                <div class="card-header">
                    <h4>
                        {% if not credentials %}
                            Credentials list is empty</h4>
                        {% else %}
                            Credentials
                        {% endif %}
                    </h4>
                </div>

                {% if credentials %}
                <div class="card-body" style="font-family: monospace;">
                    <ul>
                    {% for service_name, service_credentials in credentials.items() %}
                        {% set service_id = 'service_collapse_{}'.format(loop.index) %}
                        <li>
                            <b>
                                <a data-toggle="collapse" href="#{{service_id}}" aria-expanded="false" aria-controls="#{{service_id}}">{{service_name}}</a>
                            </b>
                            <div class="collapse" id="{{service_id}}">
                                <div class="card card-body">
                                   <div class="container-fluid">
                                       <dl class="row">
                                       {% for key, value in service_credentials.items() %}
                                            <dt class="col-sm-5">
                                                <b>{{key}}</b>
                                            </dt>
                                            <dd class="col-sm-7">
                                                {{value}}
                                            </dd>
                                        {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}